<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>addBooking</title>
    <link rel="stylesheet" href="Stylesheet.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<div th:replace="header">...</div>
<body>
<!-- nr1-->

<table class="tables">
    <thead>
    <tr>
        <h2>Film</h2>
    </tr>
    </thead>

    <tbody>
    <tr th:each="movie: ${movies}">
        <td th:text="${movie.getId()}"></td>
        <td th:text="${movie.getName()}"></td>

    </tr>
    </tbody>
</table>


<!-- nr2-->


<h2>Book here</h2>

<form action="#" th:action="@{/addBooking}" th:object="${booking}" method="post">

    <p>Movie number: <input type="number" th:field="*{movieId}"></p>
    <p>Date of Booking: <input type="date" th:field="*{dateOfMovie}" required/></p>
    <p>Seat number: <input type="text" th:field="*{seat}"></p>


    <img src="seats.png" alt="seats" width="500" height="600">

    <input type="submit" value="Tilføj" class="btn add2"/>

</form>
</body>
</html>