<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tilføj Film</title>
</head>

<body>

<form action="#" th:action="@{/addMovie}" th:object="${movie}" method="post">

    <p>Movie Name: <input type="text" th:field="*{name}" required></p>
    <p>Movie Year: <input type="number" th:field="*{year}" required></p>
    <p>Movie Price: <input type="number" th:field="*{price}"></p>

    <input type="submit" value="Tilføj" class="btn add2"/>
</form>
</body>
</html>